<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Document</title>
<link rel="stylesheet" href="/style.css">
</head>
<body>
<%- include('./common/inc/_header')%>

<section class="section">
<div class="section-inner">
<div class="m-headingType2">
<h2 class="m-headingType2__title">タイトルが入ります</h2>
</div><!-- /.m-heading-Type2 -->
</div><!-- section-inner -->
</section><!-- section -->

<section class="section section--bgGray">
<div class="section-inner">
<div class="m-headingType2">
<h2 class="m-headingType2__title">タイトルが入ります</h2>
</div><!-- /.m-heading-Type2 -->

<div class="m-tab js-tab">
<ul class="m-tab-navigation js-tab__navi">
<li class="m-tab-navigation-item js-tab__navi-item is-active" data-navi="01"><a href="#tab-01">tab1</a></li>
<li class="m-tab-navigation-item js-tab__navi-item" data-navi="02"><a href="#tab-02">tab2</a></li>
<li class="m-tab-navigation-item js-tab__navi-item" data-navi="03"><a href="#tab-03">tab3</a></li>
</ul>
<div class="m-tab-contents js-tab__contents">
<div class="m-tab-contents-item js-tab__contents-item is-show" data-tabcontent="01" id="tab-01">content01content01content01content01content01content01content01content01content01content01content01</div>
<div class="m-tab-contents-item js-tab__contents-item" data-tabcontent="02" id="tab-02">content02content02content02content02content02content02content02content02content02content02</div>
<div class="m-tab-contents-item js-tab__contents-item" data-tabcontent="03" id="tab-03">content03</div>
</div>
</div>
</div><!-- section-inner -->
</section><!-- section -->

<%- include('./common/inc/_footer')%>
<script src="/main.js"></script>
</body>

</html>
